In [1]:
import os
import sys

In [2]:
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

In [4]:
from  scripts.utils import load
from scripts.qualitative import *

In [5]:
news_data = load(os.path.dirname(os.getcwd()) + "\\data\\raw_analyst_ratings.csv")

In [6]:
headline_length(news_data)

0          39
1          42
2          29
3          44
4          87
           ..
1407323    38
1407324    52
1407325    56
1407326    54
1407327    81
Name: headline, Length: 1407328, dtype: int64

In [7]:
words_per_headline(news_data)

0           7
1           7
2           5
3           7
4          14
           ..
1407323     7
1407324     7
1407325     8
1407326     8
1407327    14
Name: headline, Length: 1407328, dtype: int64

In [8]:
stats(news_data)

       headline length  word count per headline
count     1.407328e+06             1.407328e+06
mean      7.312051e+01             1.141671e+01
std       4.073531e+01             6.352997e+00
min       3.000000e+00             1.000000e+00
25%       4.700000e+01             7.000000e+00
50%       6.400000e+01             1.000000e+01
75%       8.700000e+01             1.300000e+01
max       5.120000e+02             7.700000e+01

In [9]:
most_frequent_word(news_data,3)

[('stocks', 159102), ('vs', 138801), ('eps', 127403)]

In [10]:
articles_per_publisher(news_data)

                  publisher  article_count
686           Paul Quintaro         228373
532              Lisa Levin         186979
96        Benzinga Newsdesk         150484
169           Charles Gross          96732
622           Monica Gerson          82380
..                      ...            ...
628  MyConstant Chris Roper              1
998              milesyoung              1
632                     Nat              1
999           mjintertrader              1
15              Adam Weiner              1

[1034 rows x 2 columns]

In [11]:
sentiment(news_data)

                                                  headline  ...  sentiment_category
0                  Stocks That Hit 52-Week Highs On Friday  ...             neutral
1               Stocks That Hit 52-Week Highs On Wednesday  ...             neutral
2                            71 Biggest Movers From Friday  ...             neutral
3             46 Stocks Moving In Friday's Mid-Day Session  ...             neutral
4        B of A Securities Maintains Neutral on Agilent...  ...             neutral
...                                                    ...  ...                 ...
1407323             Top Narrow Based Indexes For August 29  ...            positive
1407324  Recap: Wednesday's Top Percentage Gainers and ...  ...            positive
1407325  UPDATE: Oppenheimer Color on China Zenix Auto ...  ...             neutral
1407326  Oppenheimer Initiates China Zenix At Outperfor...  ...             neutral
1407327  China Zenix Auto International Opens For Tradi...  ...             neutral

[1407328 rows x 3 columns]