In [1]:
import pandas as pd 
import numpy as np 
from textblob import TextBlob
import os
import sys

In [2]:
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

In [3]:
from  utils import load
from qualitative import *

In [4]:
news_data = load(os.path.dirname(os.getcwd()) + "\\data\\raw_analyst_ratings.csv")

In [5]:
headline_length(news_data)

0          39
1          42
2          29
3          44
4          87
           ..
1407323    38
1407324    52
1407325    56
1407326    54
1407327    81
Name: headline, Length: 1407328, dtype: int64

In [6]:
words_per_headline(news_data)

0           7
1           7
2           5
3           7
4          14
           ..
1407323     7
1407324     7
1407325     8
1407326     8
1407327    14
Name: headline, Length: 1407328, dtype: int64

In [7]:
stats(news_data)

       headline length  word count per headline
count     1.407328e+06             1.407328e+06
mean      7.312051e+01             1.141671e+01
std       4.073531e+01             6.352997e+00
min       3.000000e+00             1.000000e+00
25%       4.700000e+01             7.000000e+00
50%       6.400000e+01             1.000000e+01
75%       8.700000e+01             1.300000e+01
max       5.120000e+02             7.700000e+01

In [8]:
most_frequent_word(news_data,3)

[('stocks', 159102), ('vs', 138801), ('eps', 127403)]

In [9]:
articles_per_publisher(news_data)

                  publisher  article_count
686           Paul Quintaro         228373
532              Lisa Levin         186979
96        Benzinga Newsdesk         150484
169           Charles Gross          96732
622           Monica Gerson          82380
..                      ...            ...
628  MyConstant Chris Roper              1
998              milesyoung              1
632                     Nat              1
999           mjintertrader              1
15              Adam Weiner              1

[1034 rows x 2 columns]